.myPageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* overflow-y: auto; */
    max-height: calc(100vh - 70px); /* 画面の高さからFooterの高さを引く */
    /* padding-bottom: 80px; 追加 */
  }
  
  .portfolioPrimaryTagPrimary{
    font-weight: 500;
    font-size: 16px;
    background-color: #7474cc;
    color: white;
    width: 100px;
    height: 40px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolioPrimaryTagOther{
    font-weight: 500;
    font-size: 16px;
    background-color: #b3b3dc;
    color: white;
    width: 100px;
    height: 40px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: center;
  }

  .primaryPortfolioCard{
    background-color: #ffffff;
    box-shadow: 9px 10px 18px -8px #777777;
    border-radius: 5px;
    width: 100%;
    border: solid 1px;
    margin: 10px 10px 50px 10px;
  }

  .otherPortfolioCard{
    background-color: #ffffff;
    box-shadow: 9px 10px 18px -8px #777777;
    border-radius: 5px;
    width: 100%;
    border: solid 1px;
    margin: 10px;
  }

  .setPrimaryPortfolioButton{
    background-color: #ffa143;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

.setPrimaryPortfolioButton:hover{
    transform: translateY(5px);
    box-shadow: none;
}

.myPageAccountInfo{
  display: flex;
  width: 100%;
  padding: 5px;
}

.myPageAvator{
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #b3b3dc; */
}

.MuiSvgIcon-root {
  color:#0c0c54;
}

.myPageAccountDetail{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 100%;
  padding: 5px;
  font-size: large;
}